
*{
margin: 0;
}

body {
    /* min-width: 500px; */
    display: flex;
    background-color: ghostwhite;
    overflow-x: hidden;
}

.sidebar {
    background-color: white;
    width: 150px;
    text-align: center;
    border: 4px solid lightgrey;
    border-radius: 30px;
    padding: 1.5rem 0;
    margin: 1rem;
    z-index: 1;
    top: 1rem;
    left: 0;
    height: 100%;
    position:sticky;

}

.sidebar a {
    text-decoration: none;
    color: red;
    font-size: x-large;
}

.sidebar p:hover {
    background-color: lightgray;
}

.sidebar-logo {
    width: 150px;
}

.topics {
    margin-top: 0.5rem;
    margin-bottom: 1.2rem;
}

.topics-item{
    margin-bottom: 0.75rem;
}

.sidebar i {
    width: 100%;
    text-align: center;
    margin: 0.5rem 0;
    font-size: xx-large;
    color: red;
}

.sidebar i:hover {
    background-color: lightgrey;
}

.main {
    margin: 1rem;
    min-width: 300px;
    font-size: x-large;
}

.red-bold{
    font-weight: bold;
    color: red;
}

.red {
    color: red;
}